.form {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form .btn {
    width: 100%;
}

body {
    background: #16222A;
    background: -webkit-linear-gradient(to left, #3A6073, #16222A);
    background: linear-gradient(to left, #3A6073, #16222A);
}

h1 {
    text-align: center;
    color: white;
}

.button {
    width: 49%;
}

li {
    color: white;
    list-style-type: none;
}

.roomList li {
    padding: 2%;
}

table {
    color: #bbe1fa;
    width: 50%;
}

th, td {
    border: 3px solid #1b262c;
    padding: 20px;
}

th, td:nth-child(2) {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #3A6073;
}

th {
    background: #1b262c;
}

a {
    color: #bbe1fa;
}

i.rooms {
    color: #bbe1fa;
    font-size: 20px;
}

i.home {
    color: white;
    font-size: 50px;
}

i.vpis {
    color: white;
    font-size: 30px;
}

i.room {
    color: cyan;
    font-size: 20px;
}

svg.user {
    font-size: 0.75em;
}
