.form{
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

body {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

h1 {
    text-align: center;
    color: white;
}

.button {
    width: 49%;
}

li {
    color: white;
}
